.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.cardsContainer {
    display: flex;
    width: 70%;
    margin: 1%;
    padding: 1%;
    transition: transform 0.5s ease-in-out;
    overflow-x: scroll; /* Включаем прокрутку по горизонтали */
    scroll-behavior: smooth; /* Плавная прокрутка */
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: white;
    text-align: center;
    margin: 2%;
    opacity: 0.9;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card.active {
    opacity: 1;
    transform: scale(1.01);
}

.image {
    width: 100%;
    height: 70%;
    border-radius: 8px;
}

.info {
    margin-top: 12px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.price {
    font-size: 1rem;
    color: #777;
    margin: 8px 0;
}

.buyButton {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buyButton:hover {
    transform: scale(1.1);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.arrow:hover {
    background: #444;
}

.arrow:first-of-type {
    left: 10%;
}

.arrow:last-of-type {
    right: 10%;
}

@media (min-width: 768px) {
    .card {
        flex: 0 0 calc(100%/2 - 1%*2);
    }
}

@media (min-width: 1024px) {
    .card {
        flex: 0 0 calc(100%/4 - 1%*4);
    }
}
