.slider-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.slider-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.slider-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Затемнение */
    pointer-events: none;
}

.slider-text {
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    font-size: 2rem; /* 1.5rem => 2rem */
    text-align: left;
    max-width: 38%;
}

.slider-text h1 {
    font-size: 2.5rem; /* 2rem => 2.5rem */
    margin: 0;
}

.slider-text p {
    font-size: 1.25rem; /* 1rem => 1.25rem */
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .slider-text {
        top: 20%;
        left: 10%;
        font-size: 1.2rem;
        max-width: 60%;
    }

    .slider-text h1 {
        font-size: 1.5rem;
    }

    .slider-text p {
        font-size: 0.9rem;
    }
}